NodeGranja.json
[{"id":"bb1a3670.3c2fe8","type":"tab","label":"DADES Dispositius","disabled":false,"info":""},{"id":"e90d3163.af61e","type":"mqtt in","z":"bb1a3670.3c2fe8","name":"","topic":"+/Amb","qos":"2","datatype":"utf8","broker":"630e8219.9de8e4","nl":false,"rap":true,"rh":0,"x":170,"y":500,"wires":[["d6679205.3f9c5","e76ffab5.4cf2a8","af5a9f96.97c3d","9dc78e36.26ef6"]]},{"id":"76c143c8.6a7aac","type":"inject","z":"bb1a3670.3c2fe8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"iiot_data","payloadType":"str","x":160,"y":80,"wires":[["c2b14d42.dd771"]]},{"id":"20ed77e1.6a2c28","type":"inject","z":"bb1a3670.3c2fe8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"iiot_data","payloadType":"str","x":160,"y":120,"wires":[["5a0065d2.6bae84"]]},{"id":"ae648ae7.6eca","type":"inject","z":"bb1a3670.3c2fe8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"temp_readings","payloadType":"str","x":140,"y":300,"wires":[["3acc46d7.93cbba"]]},{"id":"3acc46d7.93cbba","type":"template","z":"bb1a3670.3c2fe8","name":"CREATE TABLE","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CREATE TABLE {{payload}} (   \n    time    TIMESTAMPTZ     NOT NULL,   \n    id      TEXT            NOT NULL,   \n    temp    FLOAT           NOT NULL,\n    hum     FLOAT           NOT NULL\n);\n\nSELECT create_hypertable(\n    '{{payload}}',  \n    'time'\n);","output":"str","x":320,"y":300,"wires":[["ce133332.a3e2a"]]},{"id":"ef3460b4.6e26d","type":"template","z":"bb1a3670.3c2fe8","name":"add_retention_policy","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT add_retention_policy(\n    '{{payload}}', \n    INTERVAL '{{interval}} hours'\n);","output":"str","x":340,"y":340,"wires":[["ce133332.a3e2a"]]},{"id":"f25dad01.6f88c8","type":"inject","z":"bb1a3670.3c2fe8","name":"","props":[{"p":"payload"},{"p":"interval","v":"24","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"temp_readings","payloadType":"str","x":140,"y":340,"wires":[["ef3460b4.6e26d"]]},{"id":"a54ea5b6.7de0c8","type":"template","z":"bb1a3670.3c2fe8","name":"DROP TABLE","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DROP TABLE {{payload}};","output":"str","x":320,"y":380,"wires":[["ce133332.a3e2a"]]},{"id":"c489c158.f5c09","type":"inject","z":"bb1a3670.3c2fe8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"temp_readings","payloadType":"str","x":140,"y":380,"wires":[["a54ea5b6.7de0c8"]]},{"id":"c2b14d42.dd771","type":"template","z":"bb1a3670.3c2fe8","name":"CREATE database","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CREATE database {{payload}};","output":"str","x":330,"y":80,"wires":[["acbf06d6.4789b8"]]},{"id":"5a0065d2.6bae84","type":"template","z":"bb1a3670.3c2fe8","name":"DROP database","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DROP database {{payload}};","output":"str","x":320,"y":120,"wires":[["acbf06d6.4789b8"]]},{"id":"39bbe251.0354a6","type":"comment","z":"bb1a3670.3c2fe8","name":"Database Configuration","info":"","x":120,"y":40,"wires":[]},{"id":"e1cc6504.b36ad8","type":"template","z":"bb1a3670.3c2fe8","name":"INSERT INTO temp_readings","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO temp_readings (time, id, temp, hum) \nVALUES ('{{payload.time}}', '{{payload.id}}', {{payload.temp}}, {{payload.hum}});","output":"str","x":710,"y":500,"wires":[["fbf7359d.ea7fd"]]},{"id":"769e3cb.5c91ec4","type":"comment","z":"bb1a3670.3c2fe8","name":"Save Ambient data","info":"","x":130,"y":440,"wires":[]},{"id":"ce133332.a3e2a","type":"postgres","z":"bb1a3670.3c2fe8","postgresdb":"f3dcfae5.ad3e9","name":"TimescaleDB - Table","output":false,"perrow":false,"rowspermsg":"1","return_on_error":false,"limit_queries":"0","limit_by":"payload","limit_value":"1","limit_drop_intermediate":false,"limit_drop_if_in_queue":false,"outputs":false,"x":780,"y":300,"wires":[]},{"id":"fbf7359d.ea7fd","type":"postgres","z":"bb1a3670.3c2fe8","postgresdb":"f3dcfae5.ad3e9","name":"TimescaleDB - Table","output":false,"perrow":false,"rowspermsg":"1","return_on_error":false,"limit_queries":"0","limit_by":"payload","limit_value":"1","limit_drop_intermediate":false,"limit_drop_if_in_queue":false,"outputs":false,"x":1000,"y":500,"wires":[]},{"id":"acbf06d6.4789b8","type":"postgres","z":"bb1a3670.3c2fe8","postgresdb":"2acb4702.a89208","name":"TimescaleDB - Database","output":false,"perrow":false,"rowspermsg":"1","return_on_error":false,"limit_queries":"0","limit_by":"payload","limit_value":"1","limit_drop_intermediate":false,"limit_drop_if_in_queue":false,"outputs":false,"x":790,"y":80,"wires":[]},{"id":"e76ffab5.4cf2a8","type":"function","z":"bb1a3670.3c2fe8","name":"","func":"msg.payload = {\n    \"time\" :  global.get(\"time\"),\n    \"id\" :  global.get(\"id\"),\n    \"temp\" :  global.get(\"temp\"),\n    \"hum\" :  global.get(\"hum\")\n}\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":500,"wires":[["e1cc6504.b36ad8","73d94f63.b4dad"]]},{"id":"d6679205.3f9c5","type":"change","z":"bb1a3670.3c2fe8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"topic","tot":"msg"},{"t":"change","p":"payload","pt":"msg","from":"/Amb","fromt":"str","to":"","tot":"str"},{"t":"set","p":"id","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":620,"wires":[[]]},{"id":"8c6455ef.1f1808","type":"change","z":"bb1a3670.3c2fe8","name":"","rules":[{"t":"move","p":"payload.temp","pt":"msg","to":"temp","tot":"global"},{"t":"move","p":"payload.hum","pt":"msg","to":"hum","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":560,"wires":[[]]},{"id":"2f7980cf.c3d25","type":"change","z":"bb1a3670.3c2fe8","name":"","rules":[{"t":"move","p":"timestamp","pt":"msg","to":"time","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":680,"wires":[[]]},{"id":"af5a9f96.97c3d","type":"timestamp","z":"bb1a3670.3c2fe8","name":"","x":410,"y":680,"wires":[["2f7980cf.c3d25"]]},{"id":"c95e42e.d9a8cc","type":"comment","z":"bb1a3670.3c2fe8","name":"Ambient Info Table Config","info":"","x":150,"y":240,"wires":[]},{"id":"9dc78e36.26ef6","type":"json","z":"bb1a3670.3c2fe8","name":"","property":"payload","action":"","pretty":false,"x":390,"y":560,"wires":[["8c6455ef.1f1808"]]},{"id":"38a6d089.99bd5","type":"mqtt out","z":"bb1a3670.3c2fe8","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"630e8219.9de8e4","x":770,"y":1420,"wires":[]},{"id":"5111f603.b7c1a8","type":"inject","z":"bb1a3670.3c2fe8","name":"MAVQ01","props":[{"p":"id","v":"MAVQ01","vt":"str"}],"repeat":"1200","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":210,"y":1420,"wires":[["450fd4bd.fe029c"]]},{"id":"450fd4bd.fe029c","type":"function","z":"bb1a3670.3c2fe8","name":"create {id}/temp topic","func":"function getRandomArbitrary(min, max) {\n  var num = Math.random() * (max - min) + min;\n  num = num.toFixed(1);\n  return num;\n}\n\nmsg.topic = msg.id + '/Cow'\n\nmsg.payload = {\n    \"lat\": getRandomArbitrary(42,01, 42,05),\n    \"lon\": getRandomArbitrary(2,01, 2,02),\n    \"temp\": getRandomArbitrary(37, 41)\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":1420,"wires":[["38a6d089.99bd5"]]},{"id":"760c112f.871dd","type":"comment","z":"bb1a3670.3c2fe8","name":"Save Cow data","info":"","x":120,"y":1360,"wires":[]},{"id":"4870fb8d.054d04","type":"mqtt in","z":"bb1a3670.3c2fe8","name":"","topic":"+/Cow","qos":"2","datatype":"utf8","broker":"630e8219.9de8e4","nl":false,"rap":true,"rh":0,"x":150,"y":1580,"wires":[["913ff251.832f2","d332f5e0.94bb08","595fc0cf.d30cc","608c2a36.b1f8b4"]]},{"id":"49867fac.1d105","type":"template","z":"bb1a3670.3c2fe8","name":"INSERT INTO cow_readings","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO cow_readings (time, id, temp, lat, lon) \nVALUES ('{{payload.time}}', '{{payload.id}}', {{payload.temp}}, {{payload.lat}}, {{payload.lon}});","output":"str","x":680,"y":1580,"wires":[["6a876cd7.7948c4"]]},{"id":"6a876cd7.7948c4","type":"postgres","z":"bb1a3670.3c2fe8","postgresdb":"f3dcfae5.ad3e9","name":"TimescaleDB - Table","output":false,"perrow":false,"rowspermsg":"1","return_on_error":false,"limit_queries":"0","limit_by":"payload","limit_value":"1","limit_drop_intermediate":false,"limit_drop_if_in_queue":false,"outputs":false,"x":980,"y":1580,"wires":[]},{"id":"d332f5e0.94bb08","type":"function","z":"bb1a3670.3c2fe8","name":"","func":"msg.payload = {\n    \"time\" :  global.get(\"timeC\"),\n    \"id\" :  global.get(\"idC\"),\n    \"temp\" :  global.get(\"tempC\"),\n    \"lat\" :  global.get(\"latC\"),\n    \"lon\" :  global.get(\"lonC\")\n}\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":1580,"wires":[["49867fac.1d105","40df9e52.eb50a"]]},{"id":"913ff251.832f2","type":"change","z":"bb1a3670.3c2fe8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"topic","tot":"msg"},{"t":"change","p":"payload","pt":"msg","from":"/Cow","fromt":"str","to":"","tot":"str"},{"t":"set","p":"idC","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":1700,"wires":[[]]},{"id":"1c137cbd.20a0d3","type":"change","z":"bb1a3670.3c2fe8","name":"","rules":[{"t":"move","p":"payload.lat","pt":"msg","to":"latC","tot":"global"},{"t":"move","p":"payload.lon","pt":"msg","to":"lonC","tot":"global"},{"t":"move","p":"payload.temp","pt":"msg","to":"tempC","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1640,"wires":[[]]},{"id":"22da9560.c9dfaa","type":"change","z":"bb1a3670.3c2fe8","name":"","rules":[{"t":"move","p":"timestamp","pt":"msg","to":"timeC","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1820,"wires":[[]]},{"id":"595fc0cf.d30cc","type":"timestamp","z":"bb1a3670.3c2fe8","name":"","x":390,"y":1820,"wires":[["22da9560.c9dfaa"]]},{"id":"608c2a36.b1f8b4","type":"json","z":"bb1a3670.3c2fe8","name":"","property":"payload","action":"","pretty":false,"x":370,"y":1640,"wires":[["1c137cbd.20a0d3"]]},{"id":"27c8bdd4.7b9542","type":"inject","z":"bb1a3670.3c2fe8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"cow_readings","payloadType":"str","x":130,"y":1220,"wires":[["7155679c.855df8"]]},{"id":"7155679c.855df8","type":"template","z":"bb1a3670.3c2fe8","name":"CREATE TABLE","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CREATE TABLE {{payload}} (   \n    time    TIMESTAMPTZ     NOT NULL,   \n    id      TEXT            NOT NULL,   \n    temp    FLOAT           NOT NULL,\n    lat     FLOAT           NOT NULL,\n    lon     FLOAT           NOT NULL\n);\n\nSELECT create_hypertable(\n    '{{payload}}',  \n    'time'\n);","output":"str","x":320,"y":1220,"wires":[["ed288a32.0e83a8"]]},{"id":"a56bede8.46ce","type":"template","z":"bb1a3670.3c2fe8","name":"add_retention_policy","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT add_retention_policy(\n    '{{payload}}', \n    INTERVAL '{{interval}} hours'\n);","output":"str","x":340,"y":1260,"wires":[["ed288a32.0e83a8"]]},{"id":"cdb28a33.4b2268","type":"inject","z":"bb1a3670.3c2fe8","name":"","props":[{"p":"payload"},{"p":"interval","v":"24","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"cow_readings","payloadType":"str","x":130,"y":1260,"wires":[["a56bede8.46ce"]]},{"id":"2a5f1685.e22afa","type":"template","z":"bb1a3670.3c2fe8","name":"DROP TABLE","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DROP TABLE {{payload}};","output":"str","x":320,"y":1300,"wires":[["ed288a32.0e83a8"]]},{"id":"df8a3070.f0344","type":"inject","z":"bb1a3670.3c2fe8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"cow_readings","payloadType":"str","x":130,"y":1300,"wires":[["2a5f1685.e22afa"]]},{"id":"ed288a32.0e83a8","type":"postgres","z":"bb1a3670.3c2fe8","postgresdb":"f3dcfae5.ad3e9","name":"TimescaleDB - Table","output":false,"perrow":false,"rowspermsg":"1","return_on_error":false,"limit_queries":"0","limit_by":"payload","limit_value":"1","limit_drop_intermediate":false,"limit_drop_if_in_queue":false,"outputs":false,"x":780,"y":1220,"wires":[]},{"id":"f039b185.45eba","type":"comment","z":"bb1a3670.3c2fe8","name":"Cows Info Table Config","info":"","x":140,"y":1160,"wires":[]},{"id":"c7fb9184.3036b","type":"inject","z":"bb1a3670.3c2fe8","name":"MAVQ02","props":[{"p":"id","v":"MAVQ02","vt":"str"}],"repeat":"1200","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":210,"y":1460,"wires":[["450fd4bd.fe029c"]]},{"id":"f1a0086d.094908","type":"inject","z":"bb1a3670.3c2fe8","name":"MAVQ03","props":[{"p":"id","v":"MAVQ03","vt":"str"}],"repeat":"1200","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":210,"y":1500,"wires":[["450fd4bd.fe029c"]]},{"id":"5010edcf.b4a924","type":"comment","z":"bb1a3670.3c2fe8","name":"Fan state","info":"","x":100,"y":760,"wires":[]},{"id":"bc558e67.5e928","type":"mqtt in","z":"bb1a3670.3c2fe8","name":"","topic":"+/state","qos":"2","datatype":"utf8","broker":"630e8219.9de8e4","nl":false,"rap":true,"rh":0,"x":190,"y":820,"wires":[["56e57cd8.d5b3f4","7ee6ddf9.2d0e44","f86f30ef.87298"]]},{"id":"56e57cd8.d5b3f4","type":"change","z":"bb1a3670.3c2fe8","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"stateFanMA","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":820,"wires":[[]]},{"id":"ee6b8453.fc6d58","type":"comment","z":"bb1a3670.3c2fe8","name":"Fan comand","info":"","x":110,"y":920,"wires":[]},{"id":"10536edf.7cebb1","type":"mqtt out","z":"bb1a3670.3c2fe8","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"630e8219.9de8e4","x":750,"y":980,"wires":[]},{"id":"d237b69a.7aac38","type":"function","z":"bb1a3670.3c2fe8","name":"create {id}/temp topic","func":"msg.topic = msg.topic + '/cmd'\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":980,"wires":[["10536edf.7cebb1"]]},{"id":"a3eff33f.653b7","type":"mqtt out","z":"bb1a3670.3c2fe8","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"630e8219.9de8e4","x":770,"y":2200,"wires":[]},{"id":"9f5c358.eb588c8","type":"inject","z":"bb1a3670.3c2fe8","name":"MATK01","props":[{"p":"id","v":"MATK01","vt":"str"}],"repeat":"600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":200,"y":2200,"wires":[["97c1b67c.1fe478"]]},{"id":"97c1b67c.1fe478","type":"function","z":"bb1a3670.3c2fe8","name":"create {id}/temp topic","func":"function getRandomArbitrary(min, max) {\n  var num = Math.random() * (max - min) + min;\n  num = num.toFixed(1);\n  return num;\n}\n\nmsg.topic = msg.id + '/Tank'\n\nmsg.payload = {\n    \"temp1\": getRandomArbitrary(0,5, 5,0),\n    \"temp2\": getRandomArbitrary(0,5, 5,0),\n    \"temp3\": getRandomArbitrary(0,5, 5,0),\n    \"level\": getRandomArbitrary(50.0, 60.0)\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":2200,"wires":[["a3eff33f.653b7"]]},{"id":"9d62fc07.10292","type":"comment","z":"bb1a3670.3c2fe8","name":"Save Tanks data","info":"","x":120,"y":2140,"wires":[]},{"id":"b71a077b.bb76d8","type":"mqtt in","z":"bb1a3670.3c2fe8","name":"","topic":"+/Tank","qos":"2","datatype":"utf8","broker":"630e8219.9de8e4","nl":false,"rap":true,"rh":0,"x":150,"y":2400,"wires":[["7c2af258.c140fc","644a8b0a.41fda4","964b9f4e.bb38d","43ebc882.960218"]]},{"id":"d4e73bfd.6ac3e8","type":"template","z":"bb1a3670.3c2fe8","name":"INSERT INTO tanks_readings","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO tanks_readings (time, id, temp1, temp2, temp3, level)\nVALUES ('{{payload.time}}', '{{payload.id}}', {{payload.temp1}}, {{payload.temp2}}, {{payload.temp3}}, {{payload.level}});","output":"str","x":690,"y":2400,"wires":[["167fc676.9bd4ea"]]},{"id":"644a8b0a.41fda4","type":"function","z":"bb1a3670.3c2fe8","name":"","func":"msg.payload = {\n    \"time\" :  global.get(\"timeTank\"),\n    \"id\" :  global.get(\"idTank\"),\n    \"temp1\" :  global.get(\"tankTemp1\"),\n    \"temp2\" :  global.get(\"tankTemp2\"),\n    \"temp3\" :  global.get(\"tankTemp3\"),\n    \"level\" :  global.get(\"tankLevel\")\n}\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":2400,"wires":[["d4e73bfd.6ac3e8","4ea7466a.8781a8"]]},{"id":"7c2af258.c140fc","type":"change","z":"bb1a3670.3c2fe8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"topic","tot":"msg"},{"t":"change","p":"payload","pt":"msg","from":"/Tank","fromt":"str","to":"","tot":"str"},{"t":"set","p":"idTank","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":2520,"wires":[[]]},{"id":"a42fe578.faf018","type":"change","z":"bb1a3670.3c2fe8","name":"","rules":[{"t":"move","p":"payload.temp1","pt":"msg","to":"tankTemp1","tot":"global"},{"t":"move","p":"payload.temp2","pt":"msg","to":"tankTemp2","tot":"global"},{"t":"move","p":"payload.temp3","pt":"msg","to":"tankTemp3","tot":"global"},{"t":"move","p":"payload.level","pt":"msg","to":"tankLevel","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":2460,"wires":[[]]},{"id":"954ca09a.fe6a8","type":"change","z":"bb1a3670.3c2fe8","name":"","rules":[{"t":"move","p":"timestamp","pt":"msg","to":"timeTank","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":2580,"wires":[[]]},{"id":"964b9f4e.bb38d","type":"timestamp","z":"bb1a3670.3c2fe8","name":"","x":390,"y":2580,"wires":[["954ca09a.fe6a8"]]},{"id":"43ebc882.960218","type":"json","z":"bb1a3670.3c2fe8","name":"","property":"payload","action":"","pretty":false,"x":370,"y":2460,"wires":[["a42fe578.faf018"]]},{"id":"52537310.94488c","type":"inject","z":"bb1a3670.3c2fe8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"tanks_readings","payloadType":"str","x":140,"y":2000,"wires":[["25b07468.ebdddc"]]},{"id":"25b07468.ebdddc","type":"template","z":"bb1a3670.3c2fe8","name":"CREATE TABLE","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CREATE TABLE {{payload}} (   \n    time    TIMESTAMPTZ     NOT NULL,   \n    id      TEXT            NOT NULL,   \n    temp1   FLOAT           NOT NULL,\n    temp2   FLOAT           NOT NULL,\n    temp3   FLOAT           NOT NULL,\n    level   FLOAT           NOT NULL\n);\n\nSELECT create_hypertable(\n    '{{payload}}',  \n    'time'\n);","output":"str","x":360,"y":2000,"wires":[["95ed1f65.ffa91"]]},{"id":"97c1cfe.34c4a3","type":"template","z":"bb1a3670.3c2fe8","name":"add_retention_policy","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT add_retention_policy(\n    '{{payload}}', \n    INTERVAL '{{interval}} hours'\n);","output":"str","x":380,"y":2040,"wires":[["95ed1f65.ffa91"]]},{"id":"14222672.c88eda","type":"inject","z":"bb1a3670.3c2fe8","name":"","props":[{"p":"payload"},{"p":"interval","v":"24","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"tanks_readings","payloadType":"str","x":140,"y":2040,"wires":[["97c1cfe.34c4a3"]]},{"id":"c66281b6.b308a","type":"template","z":"bb1a3670.3c2fe8","name":"DROP TABLE","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DROP TABLE {{payload}};","output":"str","x":360,"y":2080,"wires":[["95ed1f65.ffa91"]]},{"id":"e1454666.29cc18","type":"inject","z":"bb1a3670.3c2fe8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"tanks_readings","payloadType":"str","x":140,"y":2080,"wires":[["c66281b6.b308a"]]},{"id":"95ed1f65.ffa91","type":"postgres","z":"bb1a3670.3c2fe8","postgresdb":"f3dcfae5.ad3e9","name":"TimescaleDB - Table","output":false,"perrow":false,"rowspermsg":"1","return_on_error":false,"limit_queries":"0","limit_by":"payload","limit_value":"1","limit_drop_intermediate":false,"limit_drop_if_in_queue":false,"outputs":false,"x":780,"y":2000,"wires":[]},{"id":"b612df85.bf67","type":"comment","z":"bb1a3670.3c2fe8","name":"Tanks Info Table Config","info":"","x":140,"y":1940,"wires":[]},{"id":"e7883189.08394","type":"inject","z":"bb1a3670.3c2fe8","name":"MBTK01","props":[{"p":"id","v":"MBTK01","vt":"str"}],"repeat":"600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":200,"y":2240,"wires":[["97c1b67c.1fe478"]]},{"id":"3001e2c4.06468e","type":"inject","z":"bb1a3670.3c2fe8","name":"MGTK01","props":[{"p":"id","v":"MGTK01","vt":"str"}],"repeat":"600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":210,"y":2280,"wires":[["97c1b67c.1fe478"]]},{"id":"167fc676.9bd4ea","type":"postgres","z":"bb1a3670.3c2fe8","postgresdb":"f3dcfae5.ad3e9","name":"TimescaleDB - Table","output":false,"perrow":false,"rowspermsg":"1","return_on_error":false,"limit_queries":"0","limit_by":"payload","limit_value":"1","limit_drop_intermediate":false,"limit_drop_if_in_queue":false,"outputs":false,"x":1000,"y":2400,"wires":[]},{"id":"f86f30ef.87298","type":"ui_switch","z":"bb1a3670.3c2fe8","name":"","label":"","tooltip":"","group":"cf896a37.d67fd8","order":8,"width":2,"height":1,"passthru":false,"decouple":"true","topic":"MAGR02","topicType":"str","style":"","onvalue":"\"1\"","onvalueType":"json","onicon":"","oncolor":"","offvalue":"\"0\"","offvalueType":"json","officon":"","offcolor":"","animate":true,"x":190,"y":980,"wires":[["d237b69a.7aac38","d0cf001b.d418a"]]},{"id":"d0cf001b.d418a","type":"function","z":"bb1a3670.3c2fe8","name":"create {id}/temp topic","func":"msg.topic = msg.topic + '/state'\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":1040,"wires":[["cfc3c480.98b5a8"]]},{"id":"cfc3c480.98b5a8","type":"mqtt out","z":"bb1a3670.3c2fe8","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"630e8219.9de8e4","x":750,"y":1040,"wires":[]},{"id":"7ee6ddf9.2d0e44","type":"ui_led","z":"bb1a3670.3c2fe8","order":5,"group":"cf896a37.d67fd8","width":2,"height":2,"label":"","labelPlacement":"right","labelAlignment":"center","colorForValue":[{"color":"#ff0000","value":"\"0\"","valueType":"json"},{"color":"#02f702","value":"\"1\"","valueType":"json"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"","x":470,"y":880,"wires":[]},{"id":"3ac4d40c.f363ec","type":"ui_text_input","z":"bb1a3670.3c2fe8","name":"","label":"","tooltip":"","group":"2c1d13eb.ab924c","order":1,"width":6,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":840,"y":1720,"wires":[["dcff02d7.c901a"]]},{"id":"4ea7466a.8781a8","type":"function","z":"bb1a3670.3c2fe8","name":"set global","func":"global.set(\n    msg.payload.id, \n    {\n        \"temp1\": msg.payload.temp1,\n        \"temp2\": msg.payload.temp2,\n        \"temp3\": msg.payload.temp3,\n        \"level\": msg.payload.level\n    }\n)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":2340,"wires":[[]]},{"id":"b692a6eb.cfdd38","type":"ui_gauge","z":"bb1a3670.3c2fe8","name":"","group":"2c1d13eb.ab924c","order":2,"width":6,"height":4,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{msg.temp}}","min":"37","max":"41","colors":["#0da6f2","#2ff207","#f50505"],"seg1":"38","seg2":"40","x":1270,"y":1720,"wires":[]},{"id":"dcff02d7.c901a","type":"function","z":"bb1a3670.3c2fe8","name":"get value","func":"msg.temp = global.get(String(msg.payload) + \".temp\")\nmsg.lat = global.get(String(msg.payload) + \".lat\")\nmsg.lon = global.get(String(msg.payload) + \".lon\")\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":1720,"wires":[["b692a6eb.cfdd38","4770feb2.5c648","9d6fcd7f.1435e"]]},{"id":"664b9358.3f777c","type":"inject","z":"bb1a3670.3c2fe8","name":"","props":[],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":650,"y":1720,"wires":[["3ac4d40c.f363ec"]]},{"id":"40df9e52.eb50a","type":"function","z":"bb1a3670.3c2fe8","name":"set global","func":"global.set(\n    msg.payload.id, \n    {\n        \"temp\": msg.payload.temp,\n        \"lat\": msg.payload.lat,\n        \"lon\": msg.payload.lon\n    }\n)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":1520,"wires":[[]]},{"id":"4770feb2.5c648","type":"ui_text","z":"bb1a3670.3c2fe8","group":"2c1d13eb.ab924c","order":3,"width":3,"height":1,"name":"","label":"Latitud","format":"{{msg.lat}}","layout":"row-left","x":1250,"y":1760,"wires":[]},{"id":"9d6fcd7f.1435e","type":"ui_text","z":"bb1a3670.3c2fe8","group":"2c1d13eb.ab924c","order":4,"width":3,"height":1,"name":"","label":"Longitud","format":"{{msg.lon}}","layout":"row-left","x":1260,"y":1800,"wires":[]},{"id":"5e1a875d.d9b3e8","type":"ui_gauge","z":"bb1a3670.3c2fe8","name":"","group":"cf896a37.d67fd8","order":1,"width":7,"height":5,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{msg.temp}}","min":0,"max":"50","colors":["#0623f9","#22f406","#f40606"],"seg1":"15","seg2":"30","x":1290,"y":600,"wires":[]},{"id":"73d94f63.b4dad","type":"function","z":"bb1a3670.3c2fe8","name":"set global","func":"global.set(\n    msg.payload.id, \n    {\n        \"temp\": msg.payload.temp,\n        \"hum\": msg.payload.hum\n    }\n)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":440,"wires":[[]]},{"id":"c442b469.ca5758","type":"function","z":"bb1a3670.3c2fe8","name":"get value","func":"msg.temp = global.get(String(msg.payload) + '.temp')\nmsg.hum = global.get(String(msg.payload) + '.hum')\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":600,"wires":[["5e1a875d.d9b3e8","7584a0b3.585fd","12c479e7.be44e6"]]},{"id":"4f729a7e.759674","type":"inject","z":"bb1a3670.3c2fe8","name":"","props":[{"p":"payload"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"MAGR01","payloadType":"str","x":910,"y":600,"wires":[["c442b469.ca5758"]]},{"id":"7584a0b3.585fd","type":"ui_gauge","z":"bb1a3670.3c2fe8","name":"","group":"cf896a37.d67fd8","order":2,"width":7,"height":5,"gtype":"gage","title":"Humedad","label":"%","format":"{{msg.hum}}","min":"20","max":"80","colors":["#dcf906","#06f44d","#0642f4"],"seg1":"40","seg2":"60","x":1280,"y":660,"wires":[]},{"id":"d0e0b26e.04e66","type":"ui_text","z":"bb1a3670.3c2fe8","group":"cf896a37.d67fd8","order":4,"width":2,"height":1,"name":"","label":"","format":"Ventilador","layout":"col-center","x":710,"y":880,"wires":[]},{"id":"cc5d48e3.d5eaa8","type":"ui_gauge","z":"bb1a3670.3c2fe8","name":"","group":"fb484189.f24f88","order":1,"width":6,"height":5,"gtype":"gage","title":"Temperatura 1","label":"ºC","format":"{{msg.temp1}}","min":"0.5","max":"5.0","colors":["#0da6f2","#2ff207","#f50505"],"seg1":"2","seg2":"4","x":1220,"y":2480,"wires":[]},{"id":"fbe81c96.2c608","type":"function","z":"bb1a3670.3c2fe8","name":"get value","func":"msg.temp1 = global.get(String(msg.payload) + \".temp1\")\nmsg.temp2 = global.get(String(msg.payload) + \".temp2\")\nmsg.temp3 = global.get(String(msg.payload) + \".temp3\")\nmsg.level = global.get(String(msg.payload) + \".level\")\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":2480,"wires":[["cc5d48e3.d5eaa8","cda49013.f8e51","12232d85.2e4392","5bd7168b.78bc98"]]},{"id":"c61a8dd5.c220c","type":"inject","z":"bb1a3670.3c2fe8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"MATK01","payloadType":"str","x":820,"y":2480,"wires":[["fbe81c96.2c608"]]},{"id":"cda49013.f8e51","type":"ui_gauge","z":"bb1a3670.3c2fe8","name":"","group":"fb484189.f24f88","order":2,"width":6,"height":5,"gtype":"gage","title":"Temperatura 2","label":"ºC","format":"{{msg.temp2}}","min":"0.5","max":"5.0","colors":["#0da6f2","#2ff207","#f50505"],"seg1":"2","seg2":"4","x":1220,"y":2520,"wires":[]},{"id":"12232d85.2e4392","type":"ui_gauge","z":"bb1a3670.3c2fe8","name":"","group":"fb484189.f24f88","order":3,"width":6,"height":5,"gtype":"gage","title":"Temperatura 3","label":"ºC","format":"{{msg.temp3}}","min":"0.5","max":"5.0","colors":["#0da6f2","#2ff207","#f50505"],"seg1":"2","seg2":"4","x":1220,"y":2560,"wires":[]},{"id":"5bd7168b.78bc98","type":"ui_gauge","z":"bb1a3670.3c2fe8","name":"","group":"fb484189.f24f88","order":4,"width":6,"height":5,"gtype":"gage","title":"Nivel","label":"%","format":"{{msg.level}}","min":"0","max":"100","colors":["#0da6f2","#2ff207","#f50505"],"seg1":"25","seg2":"75","x":1190,"y":2600,"wires":[]},{"id":"12c479e7.be44e6","type":"debug","z":"bb1a3670.3c2fe8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1270,"y":700,"wires":[]},{"id":"630e8219.9de8e4","type":"mqtt-broker","name":"","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"f3dcfae5.ad3e9","type":"postgresdb","cfgname":"","hostname":"timescaledb","port":"5432","db":"iiot_data","ssl":false},{"id":"2acb4702.a89208","type":"postgresdb","cfgname":"","hostname":"timescaledb","port":"5432","db":"postgres","ssl":false},{"id":"cf896a37.d67fd8","type":"ui_group","name":"Condiciones Ambientales","tab":"e2c1529f.e97ae","order":1,"disp":true,"width":14,"collapse":false},{"id":"2c1d13eb.ab924c","type":"ui_group","name":"Vaca","tab":"e2c1529f.e97ae","order":2,"disp":true,"width":6,"collapse":false},{"id":"fb484189.f24f88","type":"ui_group","name":"Tanque Almacenamiento Leche","tab":"e2c1529f.e97ae","order":3,"disp":true,"width":24,"collapse":false},{"id":"e2c1529f.e97ae","type":"ui_tab","name":"Mas Almar","icon":"dashboard","order":5,"disabled":false,"hidden":false}]